.logo {
   max-width: 50px;
   max-height: 50px;
}
body{ 
   color: white;
   min-width: 800px;
   min-height: 700px;
}

.cardHeader {
   background-color: #3385c6 !important;
   color: white;
   /* width: 300px; */
}

.cardBody {
   background-color: #4279a3 ;
   color: white;
   /* width: 300px; */
}

.mt-3 {
   /* margin-left: ; */
}

.cardContainer {
   orientation: center;
   
}